
.banner-biblioteca{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(../img/lectura05.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}


.cont-biblioteca{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.cont-biblioteca h2{
    margin-bottom: 10px;
    background: rgb(0, 0, 0, 0.5);
    padding: 20px 0px;
    margin-bottom: 0;
}
.cont-biblioteca p{
    font-size: 20px;
    line-height: 30px;
    background: rgb(0, 0, 0, 0.5);
    margin-top: 0;
}


.biblioteca{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    border-radius: 20px;
}
.libros {
    width: 300px;
    height: 350px;
    padding: 50px;
    margin-bottom: 100px;
}
.libros img{
width: 200px ;
height: 200px ;
padding-top: 20px;
padding-left: 40px;
box-shadow: 10px 10px 10px black;
border-radius: 15px;

}

.libros img:hover{
    transform: rotate(10deg)  ; 
    transition: 0.5s;
   
    
}
.libros h2{
    color: black;
    font-family: tahoma;
    text-align: center;
    padding: 10px 0px;
}
