*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    width: 100%;
    margin: auto;
    background: black;
}

.cabecera{
    position: fixed;
    width: 100%;
    z-index: 1000000;
}

#container{
    width: 100%;

}

#container a{
    text-decoration: none;
    
}
#container p{
    color: white;
    font-size: 150%;
    background: rgb(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
    
} 

nav{
    text-align: center;
    background:rgb(0, 0, 0, 0.5);
    width:100%;
    margin: auto;
}

ul{
    list-style: none;
}
nav li{
    display: inline-block;
}

nav li ul{
    display: none;
    position: absolute;
    min-width: 250px;
  
}
nav a{
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    display: block;
}
nav a:hover{
    background: rgb(0, 0, 0, 0.5);
    color: yellow;
    transform: scale(1.1);
    text-transform: var(1.1);
    transition: 0.5s;
  
}
nav li li{
    display:flex;
}
nav ul ul{
    display: none;
}

nav ul li:hover ul{
  display:block;
  background: rgb(0, 0, 0, 0.5);

}

.banner{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(../img/mate01.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: auto;


}

.cont-banner{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.cont-banner h2{
    margin-bottom: 10px;
    background: rgb(0, 0, 0, 0.5);
    padding: 20px 0px;
    margin-bottom: 0;
}
p{
    font-size: 20px;
    line-height: 30px;
    background: rgb(0, 0, 0, 0.5);
    margin-top: 0;
}

section{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    border-radius: 20px;
}
.servicios {
    width: 300px;
    height: 250px;
    padding: 40px;
    margin-bottom: 40px;
}
.servicios img{
width: 150px ;
height: 150px ;
padding-top: 20px;
padding-left: 40px;
box-shadow: 10px 10px 10px white;
border-radius: 20px;
background: rgba(5, 145, 163, 0.733);

}

.servicios img:hover{
    transform: scale(1.3)  ; 
    transition: 0.5s;
    background: rgba(5, 145, 163, 0.733);
   
    
}
.servicios h2{
    color:white;
    font-family: tahoma;
    text-align: center;
    padding: 10px 0px;
}


.fondo-footer{
    background: black;
    padding: 20px 0px;
}

.footer{
    width: 50%;
    margin: auto;

}
.footer p{
    color: white;
    font-size: 120%;
    text-align: center;
}
footer img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
#menu,#check{
    display: none;
}
#check:checked ~ nav{
    right:0%
}

@media only screen and (max-width:980px){

    .container,.cont-banner, main, section,aside{
        width: 90%;
    }

}


.fondo-contactos{
    padding: 50px 0px;
}

.text-contactos{
    text-align: center;
    margin-bottom: 10px;
}

#contactos{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact{
    width: 350px;
    margin-bottom: 10px;
}

.contact h3{
    text-align: center;
    margin-bottom: 10px;
}

.listas li{
    list-style-image: url(../img/buena.png);
    margin-bottom: 10px;
}








/* Mediaqueris para celular */

@media only screen and (max-width:490px){

    .container,.cont-banner, main, section,aside{
        width: 98%;
        text-align: center;
    }

    #menu{
        display: block;
        float: right;
        font-size: 30px;
        margin: 10px;
    }
    nav {
        float: none;
        position: relative;
        right: -100%;
        transition: 0.5s ease-out;
    }
    
    nav ul{
        flex-direction: column;
        position: absolute;
        top:50px;
        background:rgb(56, 85, 245);
        width: 100%;
    }
    
}
